PracticeAppSwiftUI/PracticeAppSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad
xcschememanagement.plist
*.xcbkptlist
PracticeAppSwiftUI/PracticeAppSwiftUI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved